.settings {
  width: 300px;
  padding: 1rem;

  &__title {
    font-weight: 700;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__button {
      width: 100px;
    }
  }
}
