<div class="transactions-date-group">
  <div class="transactions-date-group__info">
    <span class="transactions-date-group__info__text">{{
      transactionsGroup?.date | date : "EE, d.M.yyyy."
    }}</span>
    <span class="transactions-date-group__info__text">
      <span class="transactions-date-group__info__text__amount"
        ><mat-icon
          fontIcon="arrow_downward"
          class="transactions-date-group__info__text__amount--income"
        ></mat-icon
        >{{ transactionsGroup?.income | budgetAmount : "Income" }}</span
      >

      <span class="transactions-date-group__info__text__amount"
        ><mat-icon
          fontIcon="arrow_upward"
          class="transactions-date-group__info__text__amount--expense"
        ></mat-icon
        >{{ transactionsGroup?.expense | budgetAmount : "Expense" }}</span
      >
    </span>
  </div>
  <mat-divider></mat-divider>
  <div
    class="transactions-date-group__item"
    *ngFor="let transaction of transactionsGroup?.transactions"
  >
    <budget-transaction [transaction]="transaction"></budget-transaction
    ><mat-divider></mat-divider>
  </div>
</div>
