.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.25rem 0.5rem;
  height: 50px;
  width: 250px;

  &__type {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;

    .mat-icon.mat-ligature-font::before {
      color: #ffffff;
    }

    &__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.transaction-form {
  width: 300px;
  min-width: 30vw;
}

.select-items-panel {
  width: 350px !important;
}
