<mat-toolbar color="primary">
  <mat-icon fontIcon="monetization_on"></mat-icon>
  <span>Budget</span>
  <span class="example-spacer"></span>
  <span>{{ username }}</span>
  <button
    mat-icon-button
    aria-label="user menu trigger"
    [matMenuTriggerFor]="userMenu"
  >
    <mat-icon fontIcon="person"> </mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="onOpenDialog()">
      <mat-icon fontIcon="settings"></mat-icon>Settings
    </button>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon fontIcon="logout"></mat-icon>Logout
    </button>
  </mat-menu>
</mat-toolbar>

<router-outlet></router-outlet>
