<div class="transaction" matRipple (click)="onTransaction()">
  <div
    class="transaction__type"
    [ngStyle]="{ 'background-color': _transaction?.category?.color }"
  >
    <mat-icon [fontIcon]="fontIcon" class="transaction__type__icon"></mat-icon>
  </div>
  <div class="transaction__info">
    <div class="transaction__info__labels">
      <span>{{ _transaction?.category?.name }}</span>
      <span class="transaction__info__labels__note">{{
        _transaction.note
      }}</span>
    </div>
    <span class="transaction__info__amount">{{
      _transaction.amount | budgetAmount : _transaction?.category?.type
    }}</span>
  </div>
</div>
