.transaction {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.25rem 0.5rem;
  background-color: rgba(#3f51b5, 0.07);
  width: 400px;
  height: 50px;

  &__type {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;

    .mat-icon.mat-ligature-font::before {
      color: #ffffff;
    }

    &__icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

    &__labels {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      &__note {
        font-size: 12px;
      }
    }

    &__amount {
      font-size: 15px;
      font-weight: 600;
    }
  }
}
